body{
    margin: 0;
    padding: 0;
    font-family: 'Henny Penny';
}
.onename{
    position: relative;
}
.BaBaBoY{
    position: absolute;
    width: 481px;
    height: 683;
    top: 300px;
    left: 1270px;
}
.name{
    color:#000000;
    font-family:'Henny Penny';
    text-shadow: 4px 6px 4px rgba(61, 133, 111, 0.75);
    font-size: 100px;
    font-weight: 400;
    position:absolute;
    top: 400px;
    left: 790px;
}
.background{
    background: linear-gradient(180deg, #6B0F03 0%, #F8FBF6 100%);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.angryBird{
    position: absolute;
        top: 250px;
        left: 830px;
}
.onebadboy{
    position: relative;
}
.bird{
    position: relative;
}